
#mainContainer {
	margin-top: 50px;
	font-size: medium;
  text-align: center;
}

#mainContainer>div.container {
  padding-bottom: 30px;
}

#mainContainer h3 {
  margin-bottom: 25px;
  line-height: 45px; 
}

#refreshIcon {
  margin-left: 5px;
  font-size: 24px;
  cursor: pointer;
  color: #32638d;
}

#refreshBtn {
 float: right;
}

#loginContainer .container {
  max-width: 400px;
  padding-bottom: 10px;
  margin-bottom: 25px;'
}

#loginContainer button {
  margin-top: 15px;
}

.creditCardInfoContainer .container {
  max-width: 400px;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.creditCardInfoContainer button {
  margin-top: 15px;
}

label {
  text-align: right;
}

h3.attention_header {
  color: #e84c3d;
}

.row {
  margin-top: 10px;
}

#messageContainer {
  color: #32638d;
  padding: 10px;
  font-size: x-large;
}

#errorMessageContainer {
  color: #e84c3d;
  padding: 10px;
  font-size: x-large;
}

.container button {
  margin: 0 20px;
}

#updateCreditCardBtn {
  margin-top: 20px;
}